- content_for :title do "FF7" end
- content_for :pagecss do
  :css
    body {
      background-color: #000;
      color: #fff;
      font-size: 16px;
    }
    .container {
      max-width: 800px;
      margin: 20px auto;
    }
    .pain {
      background-color: rgb(0,33,177);
      background: -webkit-linear-gradient(-45deg, #0021b1 0%,#000321 100%);
      padding: 20px 5px 0;
      border: 3px solid rgb(221,221,221);
      border-radius: 4px;
    }
    .table>tbody>tr>th,
    .table>tbody>tr>td {
      border: 0;
      padding: 1px;
    }
    .table th {
      font-weight: normal;
      color: rgb(0,247,243);
    }
    #status_params th {
      padding-left: 50px;
    }

.container
  .row.pain
    .col-md-5
      %table.table
        %tr
          %td= @ff7.id
          %td= @ff7.name
        %tr
          %th LV
          %td= @ff7.lv
        %tr
          %th HP
          %td= @ff7.hp
        %tr
          %th MP
          %td= @ff7.mp
      %table#status_params.table
        %tr
          %th id
          %td= @ff7.ff7_status.id
        %tr
          %th chara_id
          %td= @ff7.ff7_status.ff7_character_id
        %tr
          %th ちから
          %td= @ff7.ff7_status.str
        %tr
          %th すばやさ
          %td= @ff7.ff7_status.dex
        %tr
          %th たいりょく
          %td= @ff7.ff7_status.vit
        %tr
          %th まりょく
          %td= @ff7.ff7_status.mgc
        %tr
          %th せいしん
          %td= @ff7.ff7_status.spi
        %tr
          %th うん
          %td= @ff7.ff7_status.luc
        %tr
          %th こうげきりょく
          %td= @ff7.ff7_status.atk
        %tr
          %th めいちゅうりつ
          %td= @ff7.ff7_status.atk_p
        %tr
          %th ぼうぎょりょく
          %td= @ff7.ff7_status.def
        %tr
          %th かいひりつ
          %td= @ff7.ff7_status.def_p
        %tr
          %th まほうこうげき
          %td= @ff7.ff7_status.mgc_atk
        %tr
          %th まほうぼうぎょ
          %td= @ff7.ff7_status.mgc_def
        %tr
          %th まほうかいひりつ
          %td= @ff7.ff7_status.mgc_def_p
    .col-md-7
      col-md-7
