- content_for :title do "FF7 Status" end
.container
  %ul
    %li= "id: #{@ff7status.id}"
    %li= "chara_id: #{@ff7status.chara_id}"
    %li= "str: #{@ff7status.str}"
    %li= "dex: #{@ff7status.dex}"
    %li= "vit: #{@ff7status.vit}"
    %li= "mgc: #{@ff7status.mgc}"
    %li= "spi: #{@ff7status.spi}"
    %li= "luc: #{@ff7status.luc}"
    %li= "atk: #{@ff7status.atk}"
    %li= "atk_p: #{@ff7status.atk_p}"
    %li= "def: #{@ff7status.def}"
    %li= "def_p: #{@ff7status.def_p}"
    %li= "mgc_atk: #{@ff7status.mgc_atk}"
    %li= "mgc_def: #{@ff7status.mgc_def}"
    %li= "mgc_def_p: #{@ff7status.mgc_def_p}"
