- content_for :title do "yontaku" end
- content_for :metaext do
  %meta{content: "width=device-width", name: "viewport"}/
- content_for :pagecss do
  :css
    body {
      padding: 20px 0;
    }
    .container {
      max-width: 730px;
    }
    .header h3 {
      color: #999;
      padding-bottom: 19px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
    }
    .question {
      margin: 1em 0;
    }
    .toi {
      font-weight: bold;
      padding-right: .5em;
    }
    .radiolist {
      margin: 2em 0;
      padding-left: 20px;
    }
    .kigo {
      padding-right: .5em;
    }
    .result.glyphicon {
      font-size: 120%;
      margin-left: .5em;
    }
    .result.glyphicon-ok {
      color: green;
    }
    .result.glyphicon-remove {
      color: red;
    }

.container

  .header
    %h3 yontaku

  %p.question
    %span.toi= "問#{@qid}"
    テンペスト（TEMPEST）攻撃を説明したものはどれか。

  %form{action: "/yontaku/#{@qid}", method: "post", role: "form"}
    .radiolist
      .radio
        %span.kigo ア
        %label
          %input#yontaku1{name: "yontaku", type: "radio", value: "ans1", checked: "ans1"==@chosen_ans}/
          故意に暗号化演算を誤動作させて正しい処理結果との差異を解析する。
      .radio
        %span.kigo イ
        %label
          %input#yontaku2{name: "yontaku", type: "radio", value: "ans2", checked: "ans2"==@chosen_ans}/
          処理時間の差異を計測し解析する。
      .radio
        %span.kigo ウ
        %label
          %input#yontaku3{name: "yontaku", type: "radio", value: "ans3", checked: "ans3"==@chosen_ans}/
          処理中に機器から放射される電磁波を観測し解析する。
      .radio
        %span.kigo エ
        %label
          %input#yontaku4{name: "yontaku", type: "radio", value: "ans4", checked: "ans4"==@chosen_ans}/
          チップ内の信号線などに探針を直接当て、処理中のデータを観測し解析する。

    %button.btn.btn-default{type: "submit"} 解答
    - if @chosen_ans.nil?
      %span= ""
    - elsif @chosen_ans == @correct_ans
      %span.result.glyphicon.glyphicon-ok
      %span 正解：#{@correct_kigo}
    - else
      %span.result.glyphicon.glyphicon-remove
      %span 正解：#{@correct_kigo}
