---
layout: index.jade
---

h1 Pieces

- var base = "/pieces";
  ul
    li
      a(href=base+"/chartjs/") Chart.js
    li
      a(href=base+"/d3js/") D3.js
    li
      a(href=base+"/formatter/") Formatter
    li
      a(href=base+"/words/bless.html") Words of Blessings
    li
      a(href=base+"/words/adage.html") 心に響く言葉
